.r_tbdr{
    border: 1px dashed red;
}
header{
    /* height: 75px; */
    background: #fff;
}
.r_header-nav > li:first-child:hover > a{
    display: block;
    background: #2A55E5;
    color: #fff !important;
}
.r_header-nav > li:first-child:hover .r_header-nav2{
    display: block;
}
.r_header-nav > li:first-child >  .r_header-nav2{
    display: none;
}
.r_header-nav2{
    width: 300px;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.r_header-nav2 > li:hover{
    background: #FAFAFA;
}

.r_header-nav3{
    right: 0;
    width: 225px;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.r_header-nav li:last-child:hover .r_header-nav3{
    display: block;
}

.r_header-nav > li:last-child >  .r_header-nav3{
    display: none;
}
.r_header-nav3 > li:hover{
    background: #FAFAFA;
}
.r_header-bul:hover .r_btn{
    background: #fafafa;
}
.r_search-list{
    position: absolute;
    top: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
}
.r_search-list-tab:focus + ul{
    display: block;
}
/* --------- main-top-ul ------------ */
.r_mt-ul1{
    display: none;
}
.main_top > ul >li:nth-child(3):hover .r_mt-ul1{
    display: block;
    background: #fff;
    z-index: 1000;
}
.r_mt-ul2{
    display: none;
}
.main_top > ul >li:nth-child(4):hover .r_mt-ul2{
    display: block;
    background: #fff;
    z-index: 1000;
}
.r_mt-ul3{
    display: none;
}
.main_top > ul >li:nth-child(5):hover .r_mt-ul3{
    display: block;
    background: #fff;
    z-index: 1000;
}
.r_mt-ul4{
    display: none;
}
.main_top > ul >li:nth-child(8):hover .r_mt-ul4{
    display: block;
    background: #fff;
    z-index: 1000;
}
.r_mt-ul5{
    display: none;
}
.main_top > ul >li:last-child:hover .r_mt-ul5{
    display: block;
    background: #fff;
    z-index: 1000;
}
.r_mt-ul > li > a:hover{
    background: #F0F5FF;
}

/* ------ carousel -------- */
.r_car_ind > button{
    width: 5px !important;
    height: 5px !important;
    border-radius: 100%;
}
.r_car-btn{
    width: 3%;
    height: 100px;
    margin: 5% 0;
    opacity: 1;
    background: #fff;
}
.r_car-btn i{
    color: #878787;
}
#carouselExampleRide .carousel-control-prev{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#carouselExampleRide .carousel-control-next{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}